<ng-container *ngIf="{ gameDetails : gameDetails$ | async} as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title>game-arena</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <player-hands *ngFor="let player of vm.gameDetails?.Players" 
                    (decreaseClicked)="onDecreaseClicked(player.Id)" 
                    (increaseClicked)="onIncreaseClicked(player.Id)" 
                    (returnHandSelected)="onReturnHandSelected(player.Id,$event)" 
                    [player]="player"></player-hands>
    </ion-list>
  </ion-content>
  <ion-toolbar>
    <ion-title>Jackpot : {{vm.gameDetails | calcJackpot}}</ion-title>
  </ion-toolbar>
  <ion-footer>
    <ion-button (click)="finishGame()" [disabled]="(vm.gameDetails | calcJackpot) != (vm.gameDetails | calcTotalReturnHands)" expand="block" color="danger">
      Finish
    </ion-button>
  </ion-footer>
</ng-container>