<ng-container
  *ngIf="{ winPlayers : winPlayers$ | async, losePlayers : losePlayers$ | async, evenPlayers : evenPlayers$ | async, payingList : payingList$ | async} as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title>Whos Win Whos Lose</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let p of vm.payingList">
    <div>From: {{p.FromPlayer.PlayerName}}</div>
    <div>To: {{p.ToPlayer.PlayerName}}</div>
    <div>
      {{p.howMatch}}
    </div>
  </div>
  <!-- <ion-content>
    <ion-list *ngIf="vm.winPlayers && vm.winPlayers.length > 0">
      <ion-toolbar>
        <ion-title>Winners</ion-title>
      </ion-toolbar>
      <ion-item>
        <div class="game-result">
          <ion-label>
            Name
          </ion-label>
          <div>Wining Amount</div>
        </div>
      </ion-item>
      <ion-item *ngFor="let player of vm.winPlayers;">
        <div class="game-result">
          <div>{{player.PlayerName}}</div>
          <div>{{player.CalculateMoney}}</div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="vm.losePlayers && vm.losePlayers.length > 0">
      <ion-toolbar>
        <ion-title>Losers</ion-title>
      </ion-toolbar>
      <ion-item>
        <div class="game-result">
          <div>Name</div>
          <div>Losing Amount</div>
        </div>
      </ion-item>
      <ion-item *ngFor="let player of vm.losePlayers;">
        <div class="game-result">
          <div>{{player.PlayerName}}</div>
          <div>{{player.CalculateMoney}}</div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="vm.evenPlayers && vm.evenPlayers.length > 0">
      <ion-toolbar>
        <ion-title>Even</ion-title>
      </ion-toolbar>
      <ion-item *ngFor="let player of vm.evenPlayers;">
        <div>{{player.PlayerName}}</div>
      </ion-item>
    </ion-list>
  </ion-content> -->
</ng-container>