<ion-item>
  <ion-buttons slot="end">
    <ion-button (click)="returnHandsPicker.showPicker()">
      <ion-icon *ngIf="!player?.NumberOfReturnedToJackpotHands;else stillOpen" name="lock-open-outline" color="danger"></ion-icon>
      <ng-template #stillOpen>
        <ion-badge class="retrun-hand-badge" color="dark">{{player?.NumberOfReturnedToJackpotHands}}</ion-badge>
        <ion-icon name="lock-closed-outline" color="success"></ion-icon>
      </ng-template>
    </ion-button>
  </ion-buttons>
  <ion-label>{{player.PlayerName}}</ion-label>
  <ion-item>
    <ion-buttons slot="end">
      <ion-button [disabled]="player?.NumberOfBoughtHands == 1" (click)="decreaseClicked.emit()">
        <ion-icon name="remove-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-label>{{player.NumberOfBoughtHands}}</ion-label>
      <ion-button (click)="increaseClicked.emit()">
        <ion-icon name="add" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-item>

<return-hands-picker #returnHandsPicker (valueSelected)="returnHandSelected.emit($event)"
  [numberOfReturnedToJackpotHands]="player.NumberOfReturnedToJackpotHands"></return-hands-picker>