<ion-list [formGroup]="gameForm">
  <ion-item>
    <ion-label>Players: {{getPlayers()?.length}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="addPlayer()">
        <ion-icon name="add" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-item>
  <ion-list formArrayName="Players"> 
    <ion-item *ngFor="let player of getPlayers().controls; let i = index;" [formGroupName]="i">
      <ion-buttons slot="start">
        <ion-button (click)="removePlayerByIndex(i)">
          <ion-icon slot="icon-only" color="dark" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label *ngIf="i != currentPlayerIndexEdit">{{player.get('PlayerName').value}}</ion-label>
      <ion-input #editPlayer (keyup.enter)="OnEditPlayerBlur()" *ngIf="i == currentPlayerIndexEdit"
        formControlName="PlayerName" placeholder="Enter Player Name">
      </ion-input>
    </ion-item>
  </ion-list>
</ion-list>