<ion-content [fullscreen]="true">
  <div class="app-title">Chipopo</div>
  <div id="container">
    <div class="start-game-btn" [ngClass]="{'animate__animated' : animateOn,'animate__flip' : animateOn}"
      (click)="createNewGame()">
      <div class="label">
        <p>Create</p>
        <p>New</p>
        <p class="red">Game</p>
      </div>
      <img src="assets\images\start-game.jpg">
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" color="danger">Load Current Game</ion-button>
</ion-footer>