.app-title {
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
  padding-top: 50px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

.start-game-btn {
  .label {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      font-size: 30px;
      line-height: 22px;
      font-family: fantasy;

      &.red {
        color: red;
      }
    }
  }
}