<ion-header>
  <ion-toolbar>
    <ion-title>Game {{gameForm.get('GameDate').value | date: 'dd/MM/yyyy'}}</ion-title>
    <ion-buttons left>
      <ion-button color="dark" (click)="pop()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="gameForm">
    <ion-item>
      <ion-label>Hand Cost: {{gameForm.get('HandCost').value}}</ion-label>
      <ion-button expand="block" color="dark" (click)="picker.showPicker()">Set Hand Cost</ion-button>
    </ion-item>

    <player-list [parentForm]="gameForm"></player-list>
  </form>
</ion-content>

<ion-footer>
  <ion-button (click)="createGame()" [disabled]="!gameForm.valid" expand="block" color="danger">
    Create Game
  </ion-button>
</ion-footer>
<cost-hand-picker #picker (valueSelected)="gameForm.get('HandCost').setValue($event)"></cost-hand-picker>